body {
  margin: 50px 70px;
  background-color: rgb(192, 235, 184);
  text-align: center;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  margin-top: 15px;
  padding: 20px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  min-height: 300px;
  outline: None;
  font-size: 1.5em;
  background-color: aliceblue;
}

.functions {
  margin: 0 auto;
  display: flex;
}

button {
    margin-right: 10px;
    font-size: medium;
}

button:last-of-type {
    margin-left: auto;
    margin-right: 0px;
}
